{% extends "_base.html" %}

{% block content %}


<div class="jumbotron">

  <h1>Let's do some match-making!:</h1><br>
  <h3>Choose the number of movies you want to enter:</h3>

  <form class="jumbotron" action="/index">
    <select name="choicenr" class=btn btn-secondary btn-lg dropdown-toggle>
      {% for choice in choices %}
      <option value="{{choice}}" SELECTED>{{choice}}</option>"
      {% endfor %}
      <br><br>
      <input type="submit" name="" value="Submit" class="btn btn-primary">
    </select>

  </form>

</div>

{% endblock %}
